*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('login9.jpg');
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    border-radius: 20px;
    padding: 30px 40px;
    color: #fff;
    border: 1px solid #9a5e32;
}

.wrapper h1{
    font-size: 26px;
    text-align: center;
}